# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Logs
*.log
error_log
debug.log

# Local / backup / temp
../sql/
../logs/
../conf/
*.sql
*.zip

# WordPress core in this folder
/wp-admin/
/wp-includes/
/wp-*.php
/xmlrpc.php
/readme.html
/license.txt

# WordPress config
/wp-config.php
/wp-config-sample.php
.env
.env.*
!.env.example

# Uploads / cache / backups
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backup*/
/wp-content/backups*/
/wp-content/ai1wm-backups/
/wp-content/wflogs/

# Plugins: ignore all by default, allow only selected custom plugins if needed later
/wp-content/plugins/*
!/wp-content/plugins/.gitkeep

# Themes: ignore all by default, allow saaslauncher
/wp-content/themes/*
!/wp-content/themes/saaslauncher/

# Ignore generated LiteSpeed files inside mu-plugins
/wp-content/mu-plugins/mu-plugins/litespeed/

# Ignore packaged mu-plugin zip artifacts
/wp-content/mu-plugins.zip

# Ignore LiteSpeed artifacts
/.litespeed_flag
/wp-content/litespeed/